<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results - LedLyrics</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <a href="/"><div class="navbar-brand montserrat-brand">LedLyrics</div></a>
        <form class="search-form" action="/search" method="GET">
            <input montserrat-titletype="text" name="q" class="search-input montserrat-light" placeholder="Stairway to Hea..." required>
            <input type="submit" value="Search Lyrics" class="search-btn montserrat-placeholder">
        </form>
    </nav>

    <div class="container">
        <!-- No result found -->
        <% if (!songs) { %>
            <div class="header">
                <h1 class="montserrat-title">No results found for: "<span id="search-query"></span>"</h1>
            </div>
        <% } else { %>
         
            <!-- Header Section -->
            <div class="header">
                <h1 class="montserrat-title">Search Results for: "<span id="search-query"></span>"</h1>
            </div>

            <!-- Results Section -->
            <div class="results-container">
                <ul id="results-list">
                    <% songs.forEach(song => { %>
                        <% var artistStr = "" %>
                        <% song.artists.forEach(artist => { %>
                            <% artistStr = artistStr.concat(artist.name + ", ") %>
                        <% }); %>
                        <% artistStr = artistStr.substring(0, artistStr.length - 2); %>
                        <a href="/lyrics/<%= song.name %> <%= artistStr %>" style="text-decoration:none;">
                            <li class="result-item">
                                <div class="single-container">
                                    <!-- Thumbnail Image -->
                                    <div class="result-img">
                                        <img src="<%= song.album.images[1].url %>" alt="<%= song.name %> thumbnail" class="thumbnail">
                                    </div>
                                    <!-- Song Title -->
                                    <div class="result-text">
                                        <h2 class="montserrat-placeholder"><%= song.name %></h2>
                                        <p class="montserrat-placeholder">
                                            <%= artistStr %>
                                        </h4>
                                    </div>
                                </div>   
                            </li>
                        </a>
                    <% }); %>
                </ul>
            </div>
        <% } %>
    </div>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const searchQuery = urlParams.get('q');
        document.getElementById('search-query').textContent = searchQuery;
    </script>
</body>
</html>
